.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  color: rgb(65, 64, 64);
  font-size: 20px;
}

.nav i:hover {
  color: #020202;
  font-size: 21px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 8px;
  color: white;
  background-color: #dc5d46;
  width: 19px;
  height: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: turnBadge 1s infinite ease-in-out;
}

@keyframes turnBadge {
  0% {
    transform: translateY(-2px);
  }
  25% {
    transform: none;
  }
  50% {
    transform: none;
  }
  75% {
    transform: none;
  }
  100% {
    transform: translateY(-2px);
  }
}
